.texto_central {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 20px;
  fill: #b1b1b1;

}

.texto_qty {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 22px;
}